/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    height: 24%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
